/**
 * Valid
 */

.slds-valid {
  width: 100%;
}

/**
 * Invalid
 */

// Expected newline after "{" (block-opening-brace-newline-after)
// Expected newline before "}" (block-closing-brace-newline-before)
.slds-invalid-1 { width: 100%; }

// Expected newline after "{" (block-opening-brace-newline-after)
.slds-invalid-2 { width: 100%;
}

.slds-invalid-3 {
  width: 100%; } // Expected newline before "}" (block-closing-brace-newline-before)
.slds-following-invalid {
  width: 100%;
}

.slds-invalid-4 {
  width: 100%;

} // Unexpected empty line before closing brace (block-closing-brace-empty-line-before)

// Expected single space before "{" (block-opening-brace-space-before)
.slds-invalid-5
{
  width: 100%;
}
